.card {
  border: 0.3px solid #1E4704;
  border-radius: 50px;
  width: 1000px;
  height: 461px;
  padding: 30px 56px 30.11px 57px;
  gap: 0px;
  opacity: 0px;
}
.card-head{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header {
  font-size: 1.5rem;
  margin-bottom: 8px;
  font-family: Nunito;
  font-size: 24px;
  font-weight: 600;
  line-height: 32.74px;
  color: #1E4704;
  background-color: none;
}

.card-subtext {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 19px;
}

.reverse-layout .card-body {
  flex-direction: row-reverse;
}

.text-content {
  width: 473px;
}

.display-text {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  margin-bottom: 10px;
}

.display-header{
  color: #363636;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
  margin-bottom: 10px;
}

.list-items{
  padding-left: 15px;
}
.list-items li{
  padding-bottom: 3px;
  color: #363636;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
}

.image-content img {
  width: 330px;
  height: 300.89px;
}
