<footer>
  <div class="footer-menu">
    <div>
      <img src="footer-logo.svg" alt="">
      <h2 class="footer-header">Empowering Businesses, One Transaction at a Time.</h2>
      <div class="social-icons">
        <img src="facebook-icon.svg" alt="">
        <img src="Group 5.svg" alt="">
        <img src="Group 7.svg" alt="">
        <img src="Group 8.svg" alt="">
        <img src="Group 9.svg" alt="">
      </div>
      <div class="contact-icon">
        <span class="contact-support">
          <img src="Group 10.svg" alt="">
          Support&#64;paymate.com.ng
        </span>
        <span class="contact-support">
          <img src="Group 10.svg" alt="">
          Support&#64;paymate.com.ng
        </span>
      </div>
    </div>

    <div class="footer-contact">
      <h1 class="footer-contact-header">CONTACT ADDRESS</h1>
      <ul class="contact-section">
        <li>Head office</li>
        <li>Plot 3B , olorioko street, Aladan-nla
          Ikoyi, Lagos,  Nigeria.</li>
        <li>Abuja office</li>
        <li>Plot 3B , olorioko street, Aladan-nla
          Ikoyi, Lagos,  Nigeria.</li>
        <li>Head office</li>
        <li>Plot 3B , olorioko street, Aladan-nla
          Ikoyi, Lagos,  Nigeria.</li>
      </ul>
    </div>

    <div>
      <h1 class="footer-contact-header">COMPANY</h1>
      <ul class="company-section">
        <li>Who we are</li>
        <li>Recent Events</li>
        <li>Careers</li>
        <li>Partnership</li>
      </ul>
    </div>

    <div>
      <h1 class="footer-contact-header">RESOURCES</h1>
      <ul class="resource-section">
        <li>Help Center</li>
        <li>Privacy Policy</li>
        <li>Terms of services</li>
        <li>Services Level Agreement</li>
        <li>Services Catalog</li>
        <li>Documentation</li>
        <li>Security</li>
      </ul>
    </div>

  </div>
  <hr>
  <p class="copyright-section">&copy; PayMate Solutions Limited 2023 </p>
</footer>
