<header class="d-flex justify-content-between">
  <div>
    <span class="paymate-logo"></span>
  </div>
  <div class="header-menu">
    <div>
      <ul class="nav-menu">
        <li><a href="#" class="nav-link active">Home</a></li>
        <li><a href="#" class="nav-link">About Us</a></li>
        <li><a href="#" class="nav-link">Agent</a></li>
        <li><a href="#" class="nav-link">Contact Us</a></li>
      </ul>
    </div>

    <div>
      <button class="signin-button">Sign In</button>
    </div>
  </div>
</header>
