<section class="hero-section">
  <div class="text-values">
    <h1 class="hero-header">The Future of Seamless Business Payments</h1>
    <p class="hero-text">Are you a business owner looking for a seamless and efficient way to receive payments? Look no further! PayMate is your innovative solution, combining cutting-edge hardware and a user-friendly mobile application to transform your payment experience.</p>
    <div class="hero-buttons">
      <button class="btn pos-button">Get a POS</button>
      <button class="btn contact-button">Contact Sales</button>
    </div>
  </div>

  <div class="hero-image">
    <img src="hero-image.png" alt="">
  </div>
</section>
